body{
    background: plum;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
a{
    color:#c309dc
}
.container {
    margin: 120px auto;
    max-width: 600px;
}
h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    color: black;
    text-align: center;

}
header{
    margin-bottom: 30px;
}

form{
    padding: 30px;
    background-color: white;
    box-shadow: 0px 20px 64px #8f0974;
    border-radius: 10px;
    display: flex;
}
.instructions{
    padding: 16px;
    border: 1px solid grey;
    width:80% ;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
    

}
.submit-button{
    margin-left: 10px;
    background-color: rgb(213, 3, 171);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    padding:14px 24px ;
}
.recipe{
    font-size: 14px;
    background-color: #fff;
    padding: 20px;
    line-height: 2 ;
    margin-top: 20px;
    border-left: 3px solid rgb(193, 1, 154);
    box-shadow: 0px 20px 64px rgb(185, 121, 172);
    border-radius: 10px;
}
footer{
    text-align: center;
    font-size: 13px;
    margin-top: 30px;  

}
    


